<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551274815342-icorqdkdr3425htc70rt0u6e56cgsnuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551274815342-icorqdkdr3425htc70rt0u6e56cgsnuc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>551274815342-76lp2e4r8cav0uhb37dfs3f83c6vsjn5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJCeaLjC1XeA-tqEV8rpzY5p2-gy-2v6M</string>
	<key>GCM_SENDER_ID</key>
	<string>551274815342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.rmasoft.qodorat</string>
	<key>PROJECT_ID</key>
	<string>qodorat-1500c</string>
	<key>STORAGE_BUCKET</key>
	<string>qodorat-1500c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551274815342:ios:3f10f9bf90d35377</string>
	<key>DATABASE_URL</key>
	<string>https://qodorat-1500c.firebaseio.com</string>
</dict>
</plist>